In [ ]:
print("hello")

In [1]:
""" istall the driver if does not exist """
# !pip install cassandra-driver

' istall the driver if does not exist '

In [2]:
""" Create the keyspace and created_users table for data loading if it does not exist """

# from cassandra.cluster import Cluster

# cluster = Cluster(['cassandra'])  # Update with your Cassandra host
# session = cluster.connect()

# # Create the keyspace
# keyspace_query = """
# CREATE KEYSPACE IF NOT EXISTS spark_streams 
# WITH replication = {'class': 'SimpleStrategy', 'replication_factor': 1};
# """
# session.execute(keyspace_query)
# print("Keyspace 'spark_streams' created (if not exists).")

# # Use the keyspace
# session.set_keyspace('spark_streams')

# # Create the table
# table_query = """
# CREATE TABLE IF NOT EXISTS created_users (
#     first_name text,
#     last_name text,
#     gender text,
#     address text,
#     postcode text,
#     email text,
#     username text,
#     dob text,
#     registered text,
#     phone text,
#     picture text,
#     PRIMARY KEY ((first_name, last_name), email)
# );
# """
# session.execute(table_query)
# print("Table 'created_users' created (if not exists).")

# # Close the connection
# cluster.shutdown()

' Create the keyspace and created_users table for data loading if it does not exist '

In [3]:
# Create the Spark Session
# from pyspark.sql import SparkSession

# spark = (
#     SparkSession 
#     .builder 
#     .appName("Streaming from Kafka") 
#     .config("spark.streaming.stopGracefullyOnShutdown", True) 
#     .config('spark.jars.packages', 'org.apache.spark:spark-sql-kafka-0-10_2.12:3.3.0')
#     .config("spark.jars.packages", 'com.datastax.spark:spark-cassandra-connector_2.12:3.3.0')
#     .config("spark.sql.shuffle.partitions", 4)
#     .master("local[*]") 
#     .getOrCreate()
# )

# spark
from pyspark.sql import SparkSession

spark = (
    SparkSession 
    .builder 
    .appName("Writing to Multiple Sinks") 
    .config("spark.streaming.stopGracefullyOnShutdown", True) 
    .config('spark.jars.packages', 'org.apache.spark:spark-sql-kafka-0-10_2.12:3.3.0')
    .config('spark.jars', '/home/jovyan/.ivy2/jars/postgresql-42.2.20.jar')
    .config("spark.sql.shuffle.partitions", 8)
    .master("local[*]") 
    .getOrCreate()
)

spark

In [4]:
# Create the kafka_df to read from kafka

kafka_df = (
    spark
    .readStream
    .format("kafka")
    .option("kafka.bootstrap.servers", "ed-kafka:29092")
    .option("subscribe", "users_created")
    .option("startingOffsets", "earliest")
    .load()
)

In [5]:
# View schema for raw kafka_df
kafka_df.printSchema()
#kafka_df.show()

root
 |-- key: binary (nullable = true)
 |-- value: binary (nullable = true)
 |-- topic: string (nullable = true)
 |-- partition: integer (nullable = true)
 |-- offset: long (nullable = true)
 |-- timestamp: timestamp (nullable = true)
 |-- timestampType: integer (nullable = true)

In [6]:
# Parse value from binay to string into kafka_json_df
from pyspark.sql.functions import expr

kafka_json_df = kafka_df.withColumn("value", expr("cast(value as string)"))

In [7]:
from pyspark.sql.types import StringType, StructField, StructType, ArrayType, LongType

json_schema = StructType([
        StructField("first_name", StringType(), True),
        StructField("last_name", StringType(), True),
        StructField("gender", StringType(), True),
        StructField("address", StringType(), True),
        StructField("postcode", StringType(), True),
        StructField("email", StringType(), True),
        StructField("username", StringType(), True),
        StructField("dob", StringType(), True),
        StructField("registered", StringType(), True),
        StructField("phone", StringType(), True),
        StructField("picture", StringType(), True)
    ])

In [8]:
# Apply the schema to payload to read the data
from pyspark.sql.functions import from_json,col

streaming_df = kafka_json_df.withColumn("values_json", from_json(col("value"), json_schema)).selectExpr("values_json.*")

In [12]:
# To the schema of the data, place a sample json file and change readStream to read 
from pyspark.sql.functions import to_timestamp

# Convert the 'dob' column to a timestamp
streaming_df = streaming_df.withColumn("dob", to_timestamp("dob"))
# Cast the 'registered' column to timestamp
streaming_df = streaming_df.withColumn("registered", to_timestamp("registered"))

streaming_df.printSchema()
#streaming_df.show(truncate=False)

root
 |-- first_name: string (nullable = true)
 |-- last_name: string (nullable = true)
 |-- gender: string (nullable = true)
 |-- address: string (nullable = true)
 |-- postcode: string (nullable = true)
 |-- email: string (nullable = true)
 |-- username: string (nullable = true)
 |-- dob: timestamp (nullable = true)
 |-- registered: timestamp (nullable = true)
 |-- phone: string (nullable = true)
 |-- picture: string (nullable = true)

In [13]:
# Python function to write to multiple sinks
def device_data_output(df, batch_id):
    print("Batch id: "+ str(batch_id))
    
    # Write to parquet
    df.write.format("parquet").mode("append").save("data/output/device_data.parquet/")
    
    
    # Write to JDBC Postgres
    (
        df.write
        .mode("append")
        .format("jdbc")
        .option("driver", "org.postgresql.Driver")
        .option("url", "jdbc:postgresql://postgres:5432/airflow")
        .option("dbtable", "loaded_users_data")
        .option("user", "airflow")
        .option("password", "airflow")
        .save()
    
    )
    
    # Diplay
    df.show()

In [ ]:
# Running foreachBatch
# Write the output to Multiple Sinks
(streaming_df
 .writeStream
 .foreachBatch(device_data_output)
 .trigger(processingTime='10 seconds')
 .option("checkpointLocation", "checkpoint_dir_kafka")
 .start()
 .awaitTermination())

Batch id: 27
+----------+---------+------+--------------------+--------+--------------------+----------------+--------------------+--------------------+--------------+--------------------+
|first_name|last_name|gender|             address|postcode|               email|        username|                 dob|          registered|         phone|             picture|
+----------+---------+------+--------------------+--------+--------------------+----------------+--------------------+--------------------+--------------+--------------------+
|     Conor| Salomons|  male|6926 Delftsestraa...| 8671 BL|conor.salomons@ex...|ticklishpanda519|1984-07-17 21:34:...|2017-03-24 07:53:...| (008) 8331289|https://randomuse...|
|      Wade|    Young|  male|3002 Westheimer R...|   34625|wade.young@exampl...|     crazycat493|1991-10-06 15:24:...|2020-12-19 01:38:...|(511) 233-4247|https://randomuse...|
|  محمدطاها|     گلشن|  male|6724 برادران سلیم...|   42277|mhmdth.glshn@exam...|     lazyfish870|1959-04-05 18:18:...|2016-01-04 15:41:...|  091-15864043|https://randomuse...|
+----------+---------+------+--------------------+--------+--------------------+----------------+--------------------+--------------------+--------------+--------------------+

Batch id: 28
+----------+-----------+------+--------------------+--------+--------------------+-----------------+--------------------+--------------------+--------------+--------------------+
|first_name|  last_name|gender|             address|postcode|               email|         username|                 dob|          registered|         phone|             picture|
+----------+-----------+------+--------------------+--------+--------------------+-----------------+--------------------+--------------------+--------------+--------------------+
|     Mikey|       Chen|  male|4322 Hendrik Munn...| 0938 UL|mikey.chen@exampl...|    smallkoala818|1983-07-18 23:35:...|2016-05-03 15:34:...| (0349) 814766|https://randomuse...|
|   Mihaela|      Kralj|female|7151 Oslobođenja,...|   96389|mihaela.kralj@exa...|happybutterfly657|2000-06-10 19:11:...|2017-03-06 17:40:...|  020-2405-618|https://randomuse...|
|      Eeli|   Saarinen|  male|6787 Suvantokatu,...|   99880|eeli.saarinen@exa...| purpleladybug147|1967-02-02 16:30:...|2014-02-10 15:26:...|    03-819-068|https://randomuse...|
|     Chris|   Castillo|  male|3836 Stevens Cree...|   63204|chris.castillo@ex...|     greenfish281|1961-05-29 02:46:...|2012-09-04 21:25:...|(676) 250-1201|https://randomuse...|
|    Torben|    Smistad|  male|6149 Utfartsveien...|    7250|torben.smistad@ex...|    redpeacock791|1994-05-05 08:46:...|2019-12-08 02:30:...|      36941096|https://randomuse...|
|     Maria|Christensen|female|525 Byvangen, Ros...|   36050|maria.christensen...|     blackduck920|1974-11-24 20:24:...|2021-04-21 22:02:...|      82734939|https://randomuse...|
|     Hilla|    Huotari|female|2393 Satakennanka...|   90217|hilla.huotari@exa...|     orangecat675|1950-07-11 02:33:...|2020-11-28 23:49:...|    03-331-530|https://randomuse...|
|    Archer|   Anderson|  male|5056 Wilson Road,...|   61665|archer.anderson@e...| beautifulfrog131|1977-07-12 17:49:...|2005-09-07 05:21:...|(247)-642-3379|https://randomuse...|
|    Hunter|       Wang|  male|3249 Victoria Roa...|   38273|hunter.wang@examp...|  redbutterfly313|1981-08-22 03:28:...|2014-12-06 05:36:...|(116)-589-5243|https://randomuse...|
|       Ava|      Jones|female|7459 Pakowhai Roa...|   27556|ava.jones@example...|    redpeacock681|1970-09-23 20:35:...|2018-05-11 03:14:...|(348)-174-2560|https://randomuse...|
| Anne-Lise|     Michel|female|2071 Montée Saint...|    6596|anne-lise.michel@...| brownelephant425|1998-04-25 07:34:...|2003-07-12 17:12:...| 076 839 44 20|https://randomuse...|
|  Dingeman|   Klooster|  male|3050 Haamakkerswe...| 7361 KV|dingeman.klooster...|      lazybird197|1987-06-21 13:43:...|2019-01-19 08:32:...| (0609) 204507|https://randomuse...|
|     Benta|    da Mata|female|7226 Rua Bela Vis...|   12975|benta.damata@exam...|     blackbird671|1945-06-30 08:21:...|2019-08-02 17:38:...|(53) 4643-4787|https://randomuse...|
|    August|    Nielsen|  male|3736 Tolstrupvej,...|   56446|august.nielsen@ex...| yellowmeercat599|1957-04-09 15:14:...|2012-01-19 12:38:...|      24531356|https://randomuse...|
|   Avreliy|    Yanchik|  male|1334 Oleksiya Ber...|   85103|avreliy.yanchik@e...|      lazyfish541|1985-04-30 16:53:...|2020-12-01 07:31:...|(068) H15-1727|https://randomuse...|
|     Susan|   Crawford|female|3893 Victoria Roa...|   77902|susan.crawford@ex...|    blackmouse986|1986-11-07 08:06:...|2020-01-01 23:21:...|  051-146-3927|https://randomuse...|
|    Branko|      Trapp|  male|9906 Kirchstraße,...|   84548|branko.trapp@exam...|     redrabbit867|1994-01-01 19:05:...|2014-03-12 04:12:...|  0142-9903426|https://randomuse...|
|    Robert|     Harper|  male|1730 Jones Road, ...|   66464|robert.harper@exa...|     greenswan659|1945-08-28 04:16:...|2020-06-16 01:20:...|  061-385-8622|https://randomuse...|
|   Kristin|    Aanstad|female|655 Thorvald Meye...|    4260|kristin.aanstad@e...|  brownladybug972|1996-09-08 13:52:...|2018-11-19 19:40:...|      37332210|https://randomuse...|
|      كيان|   كامياران|  male|1793 شهید استاد ح...|   84872|kyn.kmyrn@example...|    sadgorilla704|1988-05-19 14:12:...|2005-10-10 18:50:...|  095-64925954|https://randomuse...|
+----------+-----------+------+--------------------+--------+--------------------+-----------------+--------------------+--------------------+--------------+--------------------+
only showing top 20 rows